<!-- Footer start -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div>
          <h5 class="mb-4 footer-list-title">© 2021 LLOYD ASSURANCES</h5>
          <p>Horaires de travail : du lundi au jeudi : 7h30-14h00 / Vendredi : 7h30-13h00/Samedi : 8h30-12h30 </p>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 col-sm-6">
        <div>
          <h5 class="mb-4 footer-list-title">Nos offres</h5>
          <ul class="list-unstyled footer-list-menu">
            <li><a href="javascript: void(0);">Assurance-Auto</a></li>
            <li><a href="javascript: void(0);">Assurance-Habitation</a></li>
            <li><a href="javascript: void(0);">Assurance-Prévoyance</a></li>

          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div>
          <h5 class="mb-4 footer-list-title">Plus d'informations</h5>
          <ul class="list-unstyled footer-list-menu">
            <li><a href="javascript: void(0);">Agence Mahdia El Medina </a></li>
            <li><a href="javascript: void(0);">Gouvernorat: Mahdia</a></li>
            <li><a href="javascript: void(0);">Fax: 73 690 546</a></li>
            <li><a href="javascript: void(0);">Map Location: POINT (11.033714 35.532362)</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div>
          <h5 class="mb-4 footer-list-title">Contact</h5>

          <div>
            <div class="media">
              <i-feather name="map-pin" class="icon-dual-light icons-sm mt-1 mr-2"></i-feather>
              <div class="media-body">
                <p>PLACE 1ER MAI 5100 MAHDIA </p>
              </div>
            </div>
            <div class="media">
              <i-feather name="mail" class="icon-dual-light icons-sm mt-1 mr-2"></i-feather>
              <div class="media-body">
                <p>agence.boubaker@lloyd.com.tn</p>
              </div>
            </div>

            <div class="media">
              <i-feather name="phone" class="icon-dual-light icons-sm mt-1 mr-2"></i-feather>
              <div class="media-body">
                <p>+216 73 681 635</p>
              </div>


            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->


    <!-- Footer end -->

    <!-- Footer alt start -->
    <section class="bg-primary py-3">
      <div class="container copy-right">
        <p class="copyright-desc text-white mb-0">{{year}} © Wimobi. Created by Wimobi</p>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- Footer alt start -->
