@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
.liste-assurances {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
    position: relative;
}

.or-container {
    align-items: center;
    color: rgb(26, 197, 183);
    display: flex;
    margin: 25px 0
}

.line-separator {
    background-color: rgb(26, 197, 183);
    flex-grow: 5;
    height: 1px
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.register {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 200vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
    position: relative;
}


/* ============= Animation background ========= */

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #FFF;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

.form {
    top: center;
    left: center;
    z-index: 1;
    background: rgb(255, 255, 255);
    ;
    max-width: 800px;
    margin: auto;
    padding: 70px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button:last-child {
    background-color: rgb(0, 113, 219);
}

.form button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #af4cac;
    width: 95%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 4px 0;
}

.or-container {
    align-items: center;
    color: rgb(225, 111, 211);
    display: flex;
    margin: 25px 0
}

.line-separator {
    background-color: rgb(26, 197, 183);
    flex-grow: 5;
    height: 1px
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}

.btn-google {
    font-family: "Roboto", sans-serif;
    color: #545454;
    outline: 0;
    background-color: #c5c2ce;
    margin: center;
    width: 100%;
    font-size: 14px;
    border: 0;
    padding: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 1px 0;
}

.btn-facebook {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #c5c2ce;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #545454;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 4px 0;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #af4cac;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #af4cac;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.login-page .back {
    padding: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}
